.worker {
  position: relative;
  width: 200px;
}

.character {
  position: relative;
}

.character__eye {
  transition: transform 0.3s ease;
  transform: translate(10px, 0px);
}

.character__body {
  fill: #00AEFF;
  transition: transform 0.3s ease;
}

.character__eye.-eye-l-extra {
  transform: translate(34px, -10px);
}

.character.-sleeping .-eye-l-extra {
  visibility: hidden;
  transform: translate(18px, 12px);
}

.character.-sleeping .-eye-l {
  transform: translate(10px, 15px);
}

.character.-sleeping .-eye-r {
  transform: translate(18px, 12px);
}

.character.-passive .-part-1 {
  transform: translate(30px, -10px);
}

.character.-passive .-part-2 {
  transform: translate(23px, 3px);
}

.character.-passive .-part-3 {
  transform: translate(10px, 3px);
}

.character.-passive .-eye-l {
  transform: translate(40px, -10px);
}

.character.-passive .-eye-r {
  transform: translate(34px, -10px);
}

.character.-waiting .-part-1 {
  transform: translate(12px, 0px);
}

.character.-waiting .-part-2 {
  transform: translate(10px, 1px);
}

.character.-waiting .-part-3 {
  transform: translate(5px, 2px);
}

.character.-waiting .-eye-l {
  transform: translate(52px, -8px);
}

.character.-waiting .-eye-r {
  visibility: hidden;
  transform: translate(42px, -7px);
}

.character.-waiting .-eye-l-extra {
  visibility: visible;
  transform: translate(42px, -7px);
}

.character.-thinking .-part-1 {
  transform: translate(-9px, 5px);
}

.character.-thinking .-part-2 {
  transform: translate(-5px, 2.5px);
}

.character.-thinking .-eye-l {
  transform: translate(1px, 10px);
}

.character.-thinking .-eye-l-extra {
  transform: translate(-1.5px, 10px);
}

.character.-thinking .-eye-r {
  transform: translate(-1.5px, 10px);
}

.character.-typing .-part-1 {
  transform: translate(-18px, 10px);
}

.character.-typing .-part-2 {
  transform: translate(-10px, 5px);
}

.character.-typing .-part-3 {
  transform: translate(-4px, 2px);
}

.character.-typing .-eye-l {
  transform: translate(2px, 21px);
}

.character.-typing .-eye-l-extra {
  visibility: hidden;
  transform: translate(-3px, 20px);
}

.character.-typing .-eye-r {
  transform: translate(-3px, 20px);
}

.character.-stressed .-part-1 {
  transform: translate(-17px, 20px);
}

.character.-stressed .-part-2 {
  transform: translate(-8px, 10px);
}

.character.-stressed .-part-3 {
  transform: translate(-2px, 4px);
}

.character.-stressed .-eye-l {
  transform: translate(2px, 41px);
}

.character.-stressed .-eye-l-extra {
  visibility: hidden;
  transform: translate(-3px, 40px);
}

.character.-stressed .-eye-r {
  transform: translate(-3px, 40px);
}

.computer {
  position: absolute;
  width: 30%;
  top: 49%;
  left: 12%;
}

.computer__screen {
  fill: #F1FFFA;
}

.computer__keyboard {
  fill: #CCCCCC;
}

.computer.-typing {
  animation: vibrate 0.6s linear infinite both;
}

.computer.-stressed {
  animation: vibrate-crazy 0.5s linear infinite both;
}

.arm {
  position: absolute;
  top: 0;
  left: 0;
}

.arm path {
  fill: none;
  stroke: #CCFCCB;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: stroke 30s;
}

.overheat.arm path {
  animation: overheat 3s infinite alternate;
}

.arm-typing-right {
  transform-origin: 200px 168px;
  transform: rotate(140deg);
}

.arm-typing-left {
  transform-origin: 190px 160px;
  transform: rotate(143deg);
}

.arm-thinking-right {
  transform-origin: 200px 168px;
  animation: scratch-chin 10s ease 0s infinite normal;
}

@keyframes scratch-chin {
  0% {
    transform: rotate(-40deg);
  }
  5% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes vibrate-crazy {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes overheat {
  from {
    stroke: tomato;
  }
  to {
    stroke: palevioletred;
  }
}