html {
  background-color: #323A45;
  color: #F1FFFA;
}

main {
  overflow-y: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #00AEFF;
  color: #00AEFF;
  transition: color .5s, background-color .5s;
  outline: none;
  padding: 8px 20px;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background-color: #00AEFF;
  color: #F1FFFA;
}

button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border: 2px solid #CCCCCC;
  color: #CCCCCC;
}

section {
  max-width: 100%;
}

table {
  border-radius: 5px;
  text-align: left;
  border-collapse: collapse;
  display: block;
  overflow: auto;
  width: fit-content;
  max-height: 350px;
  max-width: 100%;
}

caption {
  font-weight: 600;
  border-bottom: 2px solid #00AEFF;
  padding: 8px;
  text-transform: uppercase;
}

th {
  padding: 20px 12px;
}

td {
  border-top: 1px solid #CCFCCB;
  padding: 16px 12px;
}

.main-container {
  height: 100vh;
  justify-content: space-between;
}

.icon {
  max-width: 40px;
  max-height: 40px;
  fill: #F1FFFA;
  transition: fill .5s;
}

.icon__action,
.icon__action:hover,
.icon__action:focus {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
}

.icon__action:hover .icon,
.icon__action:focus .icon {
  fill: #00AEFF;
}

.nav__hr {
  width: calc(100% - 2px);
}

.nav__list {
  max-width: 1000px;
  max-height: 500px;
  height: 100%;
}

.nav__link {
  display: inline-block;
  position: relative;
  margin: 4px 8px;
  outline: none;
}

.nav__link:hover .nav__link-icon,
.nav__link:focus .nav__link-icon {
  fill: #CCFCCB;
}

.nav__link--active .nav__link-icon {
  fill: #00AEFF;
}

.nav__link-icon {
  width: 40px;
}

.nav__link-profile-img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  width: 24px;
  border-radius: 30px;
  pointer-events: none;
}

.nav__link-icon-dashboard .dashboard-line {
  transform: scaleX(2);
  transition: transform 1s;
}

.nav__link:hover .dashboard-line,
.nav__link:focus .dashboard-line {
  transform: scaleX(1);
}

.nav__link--active .dashboard-line {
  transform: scaleX(1);
}

.nav__link-icon-dashboard .dashboard-bar {
  transform: translateY(200px);
  transition: transform 1s;
}

.nav__link:hover .dashboard-bar,
.nav__link:focus .dashboard-bar {
  transform: translateY(50px);
}

.nav__link--active .dashboard-bar {
  transform: translateY(50px);
}

.nav__link-icon-clock #clock-hand {
  transform-origin: 50%;
  transform: rotate(-45deg);
  transition: transform 1s;
}

.nav__link:hover #clock-hand,
.nav__link:focus #clock-hand {
  transform: rotate(315deg);
}

.nav__link--active #clock-hand {
  animation: rotate 4s linear infinite;
}

.nav__link-icon-gear {
  transition: transform 2s;
}

.nav__link:hover .nav__link-icon-gear,
.nav__link:focus .nav__link-icon-gear {
  transform: rotate(360deg);
}

.nav__link--active .nav__link-icon-gear {
  animation: rotate 4s linear infinite;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input__input {
  width: calc(100% - 10px);
  padding: 3px;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select__input {
  width: calc(100% - 10px);
  padding: 3px;
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #F1FFFA;
  z-index: 500;
  border: 1px solid #323A45;
  border-top: none;
  overflow: hidden;
  color: #323A45;
}

.select__option {
  cursor: pointer;
  padding: 3px;
}

.select__option:hover,
.select__option--hovered {
  background-color: #CCFCCB;
}

.select__option-highlight {
  color: #00AEFF;
}

.loader {
  display: block;
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
}

.loader__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #cccccce0;
  padding: 4px;
}

.loader__overlay--loading {
  display: flex;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s .2s;
}

.modal--visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity .3s 0s;
}

.modal__header {
  padding: 8px 8px 0;
  text-align: center;
}

.modal__content {
  transform: scale(0);
  transition: transform .3s 0s;
  background-color: #323A45;
  border: 2px solid #CCFCCB;
  border-radius: 10px;
}

.modal__content--visible {
  transform: scale(1);
  pointer-events: all;
  transition: transform .3s .2s;
}

.modal__actions {
  padding: 0 8px 8px;
  text-align: center;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
}

.create-project__action {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.create-project__content {
  padding: 8px 16px;
}

.save-reminder__content {
  padding: 8px 16px;
}

.dashboard__tables,
.project__tables {
  width: calc(100% - 16px);
  margin: 8px;
}

.dashboard__tables>hr,
.project__tables>hr {
  margin: 8px 0;
  width: 200px;
  height: 0;
  align-self: center;
}

@media screen and (min-width: 992px) {
  .dashboard__tables>hr {
    height: 200px;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  .project__tables>hr {
    height: 200px;
    width: 0;
  }
}

.dashboard__tables>*,
.project__tables>* {
  margin: 8px;
}

.notification__indicator {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #CCCCCC;
}

.notification__indicator--subscribed {
  background-color: #00AEFF;
}

.form__submit {
  display: none;
}

.reminders__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.projects_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sign {
  margin: 16px;
  min-height: fit-content;
}

.sign__content {
  padding: 8px 32px;
  border: 2px solid #00AEFF;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 2px 0px #00AEFF;
  position: relative;
}

.timer__counter {
  font-size: 84px;
}

.timer__action {
  margin: 4px;
}

.timerPage .select {
  margin: 0 16px;
}

.project__info-block,
.dashboard__info-block {
  border: 1px solid #00AEFF;
  margin: 0 8px 16px;
  padding: 4px;
}

.dashboard__info {
  min-height: fit-content;
}

/* width */
table::-webkit-scrollbar {
  width: 5px;
}

/* Track */
table::-webkit-scrollbar-track {
  background: #F1FFFA; 
}
 
/* Handle */
table::-webkit-scrollbar-thumb {
  background: #CCCCCC; 
}

/* Handle on hover */
table::-webkit-scrollbar-thumb:hover {
  background: #00AEFF; 
}