.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-unset {
  align-items: unset;
}

.flex-center {
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.flex-start {
  align-items: flex-start;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.self-stretch {
  align-self: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.flex-0 {
  flex: 0;
}

.flex {
  flex: 1;
}

.flex-100 {
  flex: 1;
}

.flex-50 {
  flex: .5;
}

.flex-25 {
  flex: .25;
}

.flex-20 {
  flex: .20;
}

.flex-66 {
  flex: .66;
}

.flex-33 {
  flex: .33;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .hide-xs {
    display: none;
  }
  .row-xs {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-xs {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-xs {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-xs {
    flex-wrap: wrap;
  }
  .flex-center-xs {
    align-items: center;
  }
  .flex-end-xs {
    align-items: flex-end;
  }
  .flex-start-xs {
    align-items: flex-start;
  }
  .start-xs {
    justify-content: flex-start;
  }
  .end-xs {
    justify-content: flex-end;
  }
  .center-xs {
    justify-content: center;
  }
  .space-around-xs {
    justify-content: space-around;
  }
  .space-between-xs {
    justify-content: space-between;
  }
  .space-evenly-xs {
    justify-content: space-evenly;
  }
  .self-start-xs {
    align-self: flex-start;
  }
  .self-end-xs {
    align-self: flex-end;
  }
  .self-center-xs {
    align-self: center;
  }
  .flex-0-xs {
    flex: 0;
  }
  .flex-xs {
    flex: 1;
  }
  .flex-100-xs {
    flex: 1;
  }
  .flex-50-xs {
    flex: 0.5;
  }
  .flex-25-xs {
    flex: 0.25;
  }
  .flex-20-xs {
    flex: 0.2;
  }
  .flex-66-xs {
    flex: 0.66;
  }
  .flex-33-xs {
    flex: 0.33;
  }
  .text-center-xs {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .hide-gt-xs {
    display: none;
  }
  .text-nowrap-gt-xs {
    white-space: nowrap;
  }
  .row-gt-xs {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-gt-xs {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-gt-xs {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-gt-xs {
    flex-wrap: wrap;
  }
  .flex-center-gt-xs {
    align-items: center;
  }
  .flex-end-gt-xs {
    align-items: flex-end;
  }
  .flex-start-gt-xs {
    align-items: flex-start;
  }
  .start-gt-xs {
    justify-content: flex-start;
  }
  .end-gt-xs {
    justify-content: flex-end;
  }
  .center-gt-xs {
    justify-content: center;
  }
  .space-around-gt-xs {
    justify-content: space-around;
  }
  .space-between-gt-xs {
    justify-content: space-between;
  }
  .space-evenly-gt-xs {
    justify-content: space-evenly;
  }
  .self-start-gt-xs {
    align-self: flex-start;
  }
  .self-end-gt-xs {
    align-self: flex-end;
  }
  .self-center-gt-xs {
    align-self: center;
  }
  .flex-0-gt-xs {
    flex: 0;
  }
  .flex-gt-xs {
    flex: 1;
  }
  .flex-100-gt-xs {
    flex: 1;
  }
  .flex-50-gt-xs {
    flex: 0.5;
  }
  .flex-25-gt-xs {
    flex: 0.25;
  }
  .flex-20-gt-xs {
    flex: 0.2;
  }
  .flex-66-gt-xs {
    flex: 0.66;
  }
  .flex-33-gt-xs {
    flex: 0.33;
  }
  .text-center-gt-xs {
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .row-sm {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-sm {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-sm {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-sm {
    flex-wrap: wrap;
  }
  .flex-center-sm {
    align-items: center;
  }
  .flex-end-sm {
    align-items: flex-end;
  }
  .flex-start-sm {
    align-items: flex-start;
  }
  .start-sm {
    justify-content: flex-start;
  }
  .end-sm {
    justify-content: flex-end;
  }
  .center-sm {
    justify-content: center;
  }
  .space-around-sm {
    justify-content: space-around;
  }
  .space-between-sm {
    justify-content: space-between;
  }
  .space-evenly-sm {
    justify-content: space-evenly;
  }
  .self-start-sm {
    align-self: flex-start;
  }
  .self-end-sm {
    align-self: flex-end;
  }
  .self-center-sm {
    align-self: center;
  }
  .flex-0-sm {
    flex: 0;
  }
  .flex-sm {
    flex: 1;
  }
  .flex-100-sm {
    flex: 1;
  }
  .flex-50-sm {
    flex: 0.5;
  }
  .flex-25-sm {
    flex: 0.25;
  }
  .flex-20-sm {
    flex: 0.2;
  }
  .flex-66-sm {
    flex: 0.66;
  }
  .flex-33-sm {
    flex: 0.33;
  }
  .text-center-sm {
    text-align: center;
  }
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-gt-sm {
    display: none !important;
  }
  .row-gt-sm {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-gt-sm {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-gt-sm {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-gt-sm {
    flex-wrap: wrap;
  }
  .flex-unset-gt-sm {
    align-items: unset;
  }
  .flex-center-gt-sm {
    align-items: center;
  }
  .flex-end-gt-sm {
    align-items: flex-end;
  }
  .flex-start-gt-sm {
    align-items: flex-start;
  }
  .start-gt-sm {
    justify-content: flex-start;
  }
  .end-gt-sm {
    justify-content: flex-end;
  }
  .center-gt-sm {
    justify-content: center;
  }
  .space-around-gt-sm {
    justify-content: space-around;
  }
  .space-between-gt-sm {
    justify-content: space-between;
  }
  .space-evenly-gt-sm {
    justify-content: space-evenly;
  }
  .self-start-gt-sm {
    align-self: flex-start;
  }
  .self-end-gt-sm {
    align-self: flex-end;
  }
  .self-center-gt-sm {
    align-self: center;
  }
  .flex-0-gt-sm {
    flex: 0;
  }
  .flex-gt-sm {
    flex: 1;
  }
  .flex-100-gt-sm {
    flex: 1;
  }
  .flex-50-gt-sm {
    flex: 0.5;
  }
  .flex-25-gt-sm {
    flex: 0.25;
  }
  .flex-20-gt-sm {
    flex: 0.2;
  }
  .flex-66-gt-sm {
    flex: 0.66;
  }
  .flex-33-gt-sm {
    flex: 0.33;
  }
  .text-center-gt-sm {
    text-align: center;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .row-md {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-md {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-md {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  .flex-center-md {
    align-items: center;
  }
  .flex-end-md {
    align-items: flex-end;
  }
  .flex-start-md {
    align-items: flex-start;
  }
  .start-md {
    justify-content: flex-start;
  }
  .end-md {
    justify-content: flex-end;
  }
  .center-md {
    justify-content: center;
  }
  .space-around-md {
    justify-content: space-around;
  }
  .space-between-md {
    justify-content: space-between;
  }
  .space-evenly-md {
    justify-content: space-evenly;
  }
  .self-start-md {
    align-self: flex-start;
  }
  .self-end-md {
    align-self: flex-end;
  }
  .self-center-md {
    align-self: center;
  }
  .flex-0-md {
    flex: 0;
  }
  .flex-md {
    flex: 1;
  }
  .flex-100-md {
    flex: 1;
  }
  .flex-50-md {
    flex: 0.5;
  }
  .flex-25-md {
    flex: 0.25;
  }
  .flex-20-md {
    flex: 0.2;
  }
  .flex-66-md {
    flex: 0.66;
  }
  .flex-33-md {
    flex: 0.33;
  }
  .text-center-md {
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .row-gt-md {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-gt-md {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-gt-md {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-gt-md {
    flex-wrap: wrap;
  }
  .flex-unset-gt-md {
    align-items: unset;
  }
  .flex-center-gt-md {
    align-items: center;
  }
  .flex-end-gt-md {
    align-items: flex-end;
  }
  .flex-start-gt-md {
    align-items: flex-start;
  }
  .start-gt-md {
    justify-content: flex-start;
  }
  .end-gt-md {
    justify-content: flex-end;
  }
  .center-gt-md {
    justify-content: center;
  }
  .space-around-gt-md {
    justify-content: space-around;
  }
  .space-between-gt-md {
    justify-content: space-between;
  }
  .space-evenly-gt-md {
    justify-content: space-evenly;
  }
  .self-stretch-gt-md {
    align-self: stretch;
  }
  .self-start-gt-md {
    align-self: flex-start;
  }
  .self-end-gt-md {
    align-self: flex-end;
  }
  .self-center-gt-md {
    align-self: center;
  }
  .flex-0-gt-md {
    flex: 0;
  }
  .flex-gt-md {
    flex: 1;
  }
  .flex-100-gt-md {
    flex: 1;
  }
  .flex-50-gt-md {
    flex: 0.5;
  }
  .flex-25-gt-md {
    flex: 0.25;
  }
  .flex-20-gt-md {
    flex: 0.2;
  }
  .flex-66-gt-md {
    flex: 0.66;
  }
  .flex-33-gt-md {
    flex: 0.33;
  }
  .text-center-gt-md {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .row-lg {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-lg {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-lg {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-lg {
    flex-wrap: wrap;
  }
  .flex-center-lg {
    align-items: center;
  }
  .flex-end-lg {
    align-items: flex-end;
  }
  .flex-start-lg {
    align-items: flex-start;
  }
  .start-lg {
    justify-content: flex-start;
  }
  .end-lg {
    justify-content: flex-end;
  }
  .center-lg {
    justify-content: center;
  }
  .space-around-lg {
    justify-content: space-around;
  }
  .space-between-lg {
    justify-content: space-between;
  }
  .space-evenly-lg {
    justify-content: space-evenly;
  }
  .self-start-lg {
    align-self: flex-start;
  }
  .self-end-lg {
    align-self: flex-end;
  }
  .self-center-lg {
    align-self: center;
  }
  .flex-0-lg {
    flex: 0;
  }
  .flex-lg {
    flex: 1;
  }
  .flex-100-lg {
    flex: 1;
  }
  .flex-50-lg {
    flex: 0.5;
  }
  .flex-25-lg {
    flex: 0.25;
  }
  .flex-20-lg {
    flex: 0.2;
  }
  .flex-66-lg {
    flex: 0.66;
  }
  .flex-33-lg {
    flex: 0.33;
  }
  .text-center-lg {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .row-xl {
    display: flex;
    flex-direction: row;
  }
  .row-reverse-xl {
    display: flex;
    flex-direction: row-reverse;
  }
  .column-xl {
    display: flex;
    flex-direction: column;
  }
  .flex-wrap-xl {
    flex-wrap: wrap;
  }
  .flex-center-xl {
    align-items: center;
  }
  .flex-end-xl {
    align-items: flex-end;
  }
  .flex-start-xl {
    align-items: flex-start;
  }
  .start-xl {
    justify-content: flex-start;
  }
  .end-xl {
    justify-content: flex-end;
  }
  .center-xl {
    justify-content: center;
  }
  .space-around-xl {
    justify-content: space-around;
  }
  .space-between-xl {
    justify-content: space-between;
  }
  .space-evenly-xl {
    justify-content: space-evenly;
  }
  .self-start-xl {
    align-self: flex-start;
  }
  .self-end-xl {
    align-self: flex-end;
  }
  .self-center-xl {
    align-self: center;
  }
  .flex-0-xl {
    flex: 0;
  }
  .flex-xl {
    flex: 1;
  }
  .flex-100-xl {
    flex: 1;
  }
  .flex-50-xl {
    flex: 0.5;
  }
  .flex-25-xl {
    flex: 0.25;
  }
  .flex-20-xl {
    flex: 0.2;
  }
  .flex-66-xl {
    flex: 0.66;
  }
  .flex-33-xl {
    flex: 0.33;
  }
  .text-center-xl {
    text-align: center;
  }
}