@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/Gibson-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/gibson-bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/gibson-bold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/Gibson-RegularItalic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/Gibson-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Gibson";
  src: url(assets/fonts/Gibson-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gibson", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
